## 학습목표
 1. Series 함수 활용하여 데이터 분석하기

In [1]:
import numpy as np
import pandas as pd

#### **Series size, shape, unique, count, value_counts 함수**
 - size : 개수 반환
 - shape : 튜플형태로 shape반환
 - unique: 유일한 값만 ndarray로 반환
 - count : NaN을 제외한 개수를 반환
 - mean: NaN을 제외한 평균 
 - value_counts: NaN을 제외하고 각 값들의 빈도를 반환

In [18]:
s = pd.Series([1, 1, 2, 1, 2, 2, 2,1, 2, 1, 2, 1, 2, 1, 2, np.NaN])

s

0     1.0
1     1.0
2     2.0
3     1.0
4     2.0
5     2.0
6     2.0
7     1.0
8     2.0
9     1.0
10    2.0
11    1.0
12    2.0
13    1.0
14    2.0
15    NaN
dtype: float64

In [19]:
len(s)

16

In [20]:
s.size

16

In [21]:
s.shape

(16,)

In [22]:
s.unique()

array([ 1.,  2., nan])

In [23]:
s.count()

15

In [24]:
a = np.array([2, 2, 2, 2, 2, np.NaN])
a.mean()
# numpy의 경우 값에 NaN이 존재하면 연산불가

b = pd.Series(a)
b.mean() # pandas의 Series, DataFrame은 nan값을 무시하고 연산함.

2.0

In [25]:
b.value_counts()

2.0    5
dtype: int64

In [26]:
s.value_counts()

2.0    8
1.0    7
dtype: int64

index를 활용하여 멀티플한 값에 접근

In [27]:
s[[5, 7, 8]]

5    2.0
7    1.0
8    2.0
dtype: float64

In [28]:
s[[5, 6, 7, 8]].value_counts()

2.0    3
1.0    1
dtype: int64

#### **head, tail 함수**
 - head : 상위 n개 출력 기본 5개
 - tail : 하위 n개 출력 기본 5개

In [29]:
s.head()

0    1.0
1    1.0
2    2.0
3    1.0
4    2.0
dtype: float64